{% extends "base.html" %}

{% block content %}
    <div class="form-container">
        <form method="POST">
            <h1>Регистрация</h1>

            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="btn">Зарегистрироваться</button>

            <div class="form-links">
                <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войдите</a></p>
            </div>
        </form>
    </div>
{% endblock %}